.nav {
  height: 20vh;
  background-color: #4f4e4d;
}

.main-div {
  height: 80vh;
  background-color: #d5d5d5;
}

.content-div {
  margin: auto;
  background-color: #ffffff;
  height: 100%;
  width: 70%;
}

.small-black {
  height: 8vh;
  background-color: black;
  position: relative;
  top: 90%;
}
